# Standard
bin/*
tmp/*
log/*
db/*.sqlite3

# Caches
.jhw-cache
.bundle
.sass-cache
vendor/ruby

# Development
.env
.envrc
TODO*
.pt

# OSX Junk
*._*
*.DS_Store

# Compiled & Packaged
doc/_site/*
public/stylesheets/*

# Cassettes
features/cassettes/*
