%table.datatable.table.table-striped
  %thead
    %tr
      %th
      %th Avatar
      %th.sort_on_asc Name
      %th Nickname
      %th Email
      %th # Shows:
      %th Updated At
      %th Actions
  %tbody#people
    = render @people
