<%- model_class = @person.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{@person.first_last_name}") %></h1>
</div>
<%= render :partial => 'form' %>
