<p>Congratulations <%= first_name %>! Your application has been submitted to Radio DePaul. You will be receiving a confirmation email from us shortly. We are in the process of reviewing applications. Please be patient. Thanks!</p>
<p>The Radio DePaul Team</p>
