
<p><%= @application.first_name.capitalize %>,</p>

<p>
  Thank you for your recent application to Radio DePaul. We are currently reviewing applications. Hiring decisions are based on a number of factors including the current programming needs of the station and the availability of on-air shifts. You will be contacted by a station representative if we believe that you will be a good fit for the station. 
</p>

<p>
  If you have applied to be a newscaster, it is advisable to email our news director at <a href="mailto:radiodepaulnewsdirector@gmail.com">radiodepaulnewsdirector@gmail.com</a> after you have applied. Likewise, if you have applied to be a sportscaster, follow up with an email to <a href="radiodepaulsports@gmail.com">radiodepaulsports@gmail.com</a>. 
</p>

<p>
  Thanks again for applying to Radio DePaul, Chicago's College Connection!
</p>

<p>
  Sincerely,
</p>

<p>
  Scott Vyverman, M.A.<br />
  Radio DePaul General Manager
</p>
