Hello #{@resource.first_name.capitalize},
%p
  Your Radio DePaul account has been created!
%p
  Please visit
  %a{:href => link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  to login and set your password.
%p Sincerely,
%p The Radio DePaul Staff
