
Hello <%= @resource.first_name.capitalize %>,

<p>
  Your Radio DePaul account has been created!
</p>

<p>
  Please visit <a href="<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></a> to login and set your password.

</p>

<p>Sincerely,</p>

<p>The Radio DePaul Staff</p>
