<h1>API Documentation</h1>
<h2>Resoueces</h2>
<h3>getSchedule</h3>
<p>Returns the current Radio DePaul schedule</p>
<h4>Paramaters</h4>
<p>quarter | optional - Specifies the schedule to return. Default is the current schedule. Example value: wq2011</p>
<h3>getOnAir</h3>
<p>Returns the show currently airing on Radio DePaul</p>
<h4>Paramaters</h4>
<p>None</p>
<h3>shows/getList</h3>
<p>Returns a list of shows on Radio DePaul</p>
<h4>Paramaters</h4>
<p>quarter | optional - Specifies the quarter of shows to return. Default is shows active within the current schedule. Example value: wq2011</p>
<h3>shows/getShow</h3>
<p>Returns information for a show</p>
<h4>Paramaters</h4>
<p>id | required</p>
<h3>shows/getRandom</h3>
<p>Returns a list of random shows</p>
<h4>Paramaters</h4>
<p>number | optional - Specified the number of random shows to return. Default number is 1. Example value: 5</p>
<h3>people/getList</h3>
<p>Returns a list of people at Radio DePaul</p>
<h4>Paramaters</h4>
<p>quarter | optional - Specifies the quarter of people to return. Default is people active within the current schedule. Example value: wq2011</p>
<h3>people/getManagers</h3>
<p>Returns a list of managers at Radio DePaul</p>
<h4>Paramaters</h4>
<p>quarter | optional - Specifies the quarter of managers to return. Default is people active within the current schedule. Example value: wq2011</p>
<h3>people/getPerson</h3>
<p>Returns information for a person</p>
<h4>Paramaters</h4>
<p>id | required</p>