<p>Your application has been submitted!</p>
<p>If there is a good fit for you at Radio DePaul coming up, we'll contact you. Otherwise, we'll keep your application on file for future openings</p>
<p>Please contact our <a href="http://radio.depaul.edu/about">Programming Director</a> with any questions</p>
