%table.datatable.table.table-striped
  %thead
    %tr
      %th
      %th Avatar
      %th Title
      %th Genres
      %th # Hosts
      %th # Slots
      %th Updated At
      %th Actions
  %tbody#shows
    = render @shows
